*{
	margin: 0;
	padding: 0;
}

html, body
{
	padding:0px;
	margin:0px;
	font-family:'Lora' , serif;
	height:100%;
	align-items:center;
	overflow-x: hidden;
}

/*Making Health Care Better Together*/

.container 
{
	position: relative;
	overflow:hidden;
	text-align: left;
	margin:0px;
	float:left;
}

.Topic 
{
	font-size:24px;
	color:	#535353;
}
	
.text-block
{
	position: absolute;
	border-radius:10px;
	top:20px;
    left: 20px;
	width:40%;
    background: rgba(255,255,255,0.4);
    margin:0px;
    color: Black;
    padding: 20px;
    text-align:left;
    font-size:16px;
}

/*See Our Benifits*/

.TopicA 
{
	font-size:24px;
	color:	#535353;
}
	
.text-blockA
{
	position: absolute;
	border-radius:10px;
	bottom:-250px;
    left: 0px;
	width:40%;
    background: rgba(255,255,255,0.4);
    margin:0px;
    color: Black;
    padding: 20px;
    text-align:left;
    font-size:16px;
}

.text-blockA a{
	
	text-decoration:none;
	color:#535353;
}

.text-blockA a:hover
{	
	color:#0d0c0c;
}

/*Customer Testimonials*/

.TopicB
{
	font-size:24px;
	color:	#535353;
}
	
.text-blockB
{
	position: absolute;
	border-radius:10px;
	top:250px;
    left: 0px;
	width:120%;
    background: rgba(255,255,255,0.4);
    margin:0px;
    color: Black;
    padding: 20px;
    text-align:left;
    font-size:16px;
}

.text-blockB a{
	
	text-decoration:none;
	color:#535353;
}

.text-blockB a:hover
{	
	color:#0d0c0c;
}


.btn {
    border: none;
    float:right;
    position:relative;
    margin-right:5spx;
    top:140px;
    right:-100px; 
    background-color: #add8e6;
    border-radius:40px;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* On mouse-over */
.btn:hover {
	background: #00008B;
	color:white;
}



ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: blue;
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}

/* Logo */

.logo {
	
	float:left;
	margin-top:0px;
	margin-left:0px;
}

/* User Avatar */

.avatar {
  float: right;
  margin-top:10px;
  margin-right:10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Top Navigation Bar */

.topnav {
	overflow:hidden;
	background-color:#e9e9e9;
	margin:10px;
	margin-left:220px;
	margin-right:470px;
	border-radius:20px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #87ceeb;
  color: white;
}

/* Bottom Navigation Bar */

.bottomnav {
  overflow: hidden;
  background-color: #e9e9e9;
  margin:10px;
  margin-top:80px; 
  margin-left:220px;
  margin-right:200px;
  border-radius:20px;
  }

.bottomnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.bottomnav a:hover {
  background-color: #ddd;
  color: black;
}


.bottomnav a.active {
  background-color: #87ceeb;
  color: white;
}


.bottomnav .search-container {
  float: right;
}

.bottomnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border-radius:20px;
  border: none;
}

/*Search Button*/

.search-form button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right:30px;
  background: #87ceeb;
  color:white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  position:relative;
  border-radius:10px;

}

.search-form button:hover {
  background: #ccc;
}



/* Footer */
.footer {
    background-color: #87ceeb;
}

.fLine {
    border: 1px solid #A9A9A9;
    width: 1200px;
}
.fText {
    font-size: 14px;
    color: 	#000000;
}

.fColumn {
    float: left;
    width: 24%;
    padding: 0px;
    height: 140px;
    background-color: #87ceeb;
    margin-left: 5px;
    margin-top: 30px;
    overflow: hidden;
}

.fTopic{
    text-align:center;
}

.icons{
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.fIcons {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.awards {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
	text-align:center;
  }
}

@media screen and (max-width: 600px) {
  .bottomnav a {
    float: none;
    width: 100%;
	text-align:center;
  }
}


